// Add any custom Sass & CSS here
@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,700,500,900);

body{
    background: url(https://f1.bcbits.com/img/a3933750658_10.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ATagDefault{
    color: white;
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.1em;
    &:hover{
        color: red;
        
    }
}

.large-text{
    font-family: 'Maven Pro', sans-serif;
    font-weight: 700;
}

#register{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    width: 100%;
    /*height: 100%;*/
    text-align: center;
    color: white;
    #inner{
        background-color: rgba(0,0,0,0.8);
        border-radius: 5px;
        .input{
            float: left;
        }
        .icon{
            margin-right: 5px;
        }
        .welcome{
            font-weight: bold;
            padding-top: 10px;
            font-size: 1.2em;
        }
    }
}
#login{
    display: none;
    z-index: 10;
    top: 20%;
    position: fixed;
    left: 5%;
    width: 100%;
    height: 100%;
    #inner{
        background-color: rgba(0,0,0,0.8);
        color: white;
        padding: 1rem;
        border-radius: 3px;
    }
    label{
        color: white;
    }
}

#searchbar{
    background-color: black;
    //color: white;
    margin-top: -100px;
    font-weight: bold;
    height: 100px;
    width: 100%;
    
    #inputArea{
        color: white;
        margin: 0 auto;
        width: 80%;
        padding-top: 50px;
        -webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,1);
        -moz-box-shadow: 0px 3px 0px 0px rgba(0,0,0,1);
        box-shadow: 0px 3px 0px 0px #fefefe;
        input{
                width: 80%;
                display: inline-block;
                background-color: transparent;
                border: none;
                position: absolute;
                outline: none;
                color: white;
                font-size: 2em;
                padding-bottom: 15px;
        }
        input:focus{
            outline-offset: none;
            border: none;
        }
        #close{
            float: right;
            position: relative;
            bottom: 5px;
            color: white;
            display: inline-block;
            font-size: 2em;
            padding-bottom: 15px;
        }
    }
}


#searchList{
    color: white;
    list-style-type: none;
    background-color: rgba(0,0,0,0.9);
    width: 82%;
    position: fixed;
    left: 8%;
    top: 100px;
    display: none;
    padding-bottom: 10px;
    max-height: 500px;
    overflow: scroll;
    li{
        margin-left: 10px;
        margin-right: 10px;
    }
    .title{
        width: 80px;
        padding-left: 10px;
        color: black;
        font-family: $maven;
        span{
            background-color: black;
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 10px;
            padding-bottom: 5px;
            margin-right: 10px;
            color: white;
        }
                
    }
    .rapperItem{
        background-color: black;
        padding-left: 10px;
        margin-bottom: 10px;
        .rapperProfile{
          margin-top: 10px;
          display: inline-block;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
        }
        .name{
            display: inline-block;
            position: relative;
            top: -35px;
            font-size: 1.1em;
            left: 20px;
        }
    }
    .songItem{
        display: none;
        background-color: black;
        padding-left: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-bottom: 10px;
        .name{
            font-size: 1.2em;
        }
        .rapperName{
            color: rgb(247, 244, 244);
        }
    }
}
#songList{
    color: white;
    list-style-type: none;
    background-color: rgba(0,0,0,0.9);
    width: 80%;
    margin: 0 auto;
}
.modal1{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: black;
    z-index: 10;
    #menu{
        color: yellow;
        font-size: 3em;
        margin: 0 auto;
        margin-top: 25%;
    }
    .close{
        margin-right: 10px;
        float: right;
        font-size: 28px;
        font-weight: bold;
        color: yellow;
    }
}

.modal2{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9;
    .panel{
        position: relative;
        top: 10%;
        @media screen and (min-width: 500px) {
                 left: 26%;
            }
            @media screen and (max-width: 499px) {
                left: 5%;
            } 
        img{
            @media screen and (min-width: 500px) {
                 width: 600px;
            }
            @media screen and (max-width: 499px) {
                width: 300px;
            } 
        }
    }
}
.modal4{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    form{
        width: 500px;
        margin: 0 auto;
        margin-top: 10%;

    }
    .close{
        margin-right: 10px;
        float: right;
        font-size: 28px;
        font-weight: bold;
        color: black;
    }
    
}
.top-bar{
    max-height: 70px;
    background-color: transparent;
    .top-bar-left{
        background-color: transparent;
        ul{
            background-color: transparent;
            color: white;
            font-family: 'Lato';
            li{
                    padding-left: 80px;
            }
        }
        @media screen and (min-width: 800px) {
           #icon {
                margin-left: auto;
            }
        }
        @media screen and (max-width: 799px) {
            width: 0%;
            #icon {
                margin-left: -50px;
            }
        }
    }
    #search_span{
        color: white;
        padding-top: 5px;
        max-width: 50px;
    }
    #box{
       
        max-width: 300px;
        form{
            

            border-radius:         3px;
            -moz-border-radius:    3px;
            -o-border-radius:      3px;
            -webkit-border-radius: 3px;

            box-shadow:         0 1px 5px #000;
            -moz-box-shadow:    0 1px 5px #000;
            -o-box-shadow:      0 1px 5px #000;
            -webkit-box-shadow: 0 1px 5px #000;

            height: 0px;
            padding: 0;
        }

        input {
            background: transparent;
            background: rgba(163, 135, 106, 0.15);
            background-clip: padding-box;

            border: none;


            box-shadow:         inset 0 0 5px rgba(0, 0, 0, 0.1), 
                                0 1px 0 rgba(255, 255, 255, 0.5), 
                                inset 0 1px 2px rgba(0, 0, 0, 0.3), 
                                0 0 40px rgba(255, 255, 255, 0.3);
            -moz-box-shadow:    inset 0 0 5px rgba(0, 0, 0, 0.1), 
                                0 1px 0 rgba(255, 255, 255, 0.5), 
                                inset 0 1px 2px rgba(0, 0, 0, 0.3), 
                                0 0 40px rgba(255, 255, 255, 0.3);
            -o-box-shadow:      inset 0 0 5px rgba(0, 0, 0, 0.1), 
                                0 1px 0 rgba(255, 255, 255, 0.5), 
                                inset 0 1px 2px rgba(0, 0, 0, 0.3), 
                                0 0 40px rgba(255, 255, 255, 0.3);
            -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), 
                                0 1px 0 rgba(255, 255, 255, 0.5), 
                                inset 0 1px 2px rgba(0, 0, 0, 0.3), 
                                0 0 40px rgba(255, 255, 255, 0.3);

            color: #333;
            outline: none;
            padding: 0 20px 0 35px;

            transition:         all .1s linear;
            -moz-transition:    all .1s linear;
            -o-transition:      all .1s linear;
            -webkit-transition: all .1s linear;
            
            height: 30px;
        }
        @media screen and (min-width: 800px) {
            margin-top: 10px;
            input {
                width: 300px;
            }
        }
        @media screen and (max-width: 640px) {
            margin-top: -30px;
            
        }

        input:focus {
            background: transparent;
            background: rgba(163, 135, 106, 0.2);

            box-shadow:         inset 0 0 5px rgba(0, 0, 0, 0.2), 
                                0 1px 0 rgba(255, 255, 255, 0.7), 
                                inset 0 1px 2px rgba(0, 0, 0, 0.4), 
                                0 0 40px rgba(255, 255, 255, 0.5);
            -moz-box-shadow:    inset 0 0 5px rgba(0, 0, 0, 0.2), 
                                0 1px 0 rgba(255, 255, 255, 0.7), 
                                inset 0 1px 2px rgba(0, 0, 0, 0.4), 
                                0 0 40px rgba(255, 255, 255, 0.5);
            -o-box-shadow:      inset 0 0 5px rgba(0, 0, 0, 0.2), 
                                0 1px 0 rgba(255, 255, 255, 0.7), 
                                inset 0 1px 2px rgba(0, 0, 0, 0.4), 
                                0 0 40px rgba(255, 255, 255, 0.5);
            -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 
                                0 1px 0 rgba(255, 255, 255, 0.7), 
                                inset 0 1px 2px rgba(0, 0, 0, 0.4), 
                                0 0 40px rgba(255, 255, 255, 0.5);
        }

        label {
            background: transparent url(http://f.cl.ly/items/2a2Z0V0L0J1p3V082d3r/icon-search.png) no-repeat top left;
            cursor: pointer;
            display: block;
            height: 17px;
            left: 15px;
            position: relative;
            text-indent: -99999px;
            top: -36px;
            width: 16px;
            opacity: 0.6;
        }
    }
}

.list{
    #title{
        #text{
               font-size: 4em;
                /* text-shadow: -1px 0 #ffae00, 0 2px #ffae00, 2px 0 #0a0a0a, 0 -2px #0a0a0a; */
                color: rgba(216, 8, 8, 0.7);
                font-family: $maven;
                font-weight: 900;
                /* text-decoration: line-through; */
                width: 600px;
                margin-left: 100px;
                #live{
                    text-decoration: line-through;
                    
                }
        }
        #death{
                font-size: 4em;
                margin-left: 100px;
                margin-top: -30px;
                font-family: $maven;
                font-weight: 700;
        }
        
        margin-top: 15%
    }
    #subtitle{
        #name{
            @include font-set(900, 2em);  
        }
        #des{
            @include font-set(100, 1.1em);
            color: white;
        }
    }
    .btn{
        background-color: rgba(225,0,0,0.8);
        &:hover{
            background-color: rgba(225,0,0,1);
        }
    }
    #btn-rev{
        background-color: rgba(0,0,0,0.9);
        &:hover{
            background-color: rgba(0,0,0,1);
        }
    }
    hr{
        border-bottom: 1px solid black;
    }
    
}
#singer{
    .title-bar{
        .title-bar-title{
            @include font-set(900, 1.5em);
        }
    }
    
    #trend{
        width: 250px;
        color: $yellow;
        background-color: rgba(0,0,0,0.9);
        text-align: center;
        font-family: $maven;
        
    }
    .callout{
        
        #rank{
            @include font-set(500, 1.1em);
        }
        #songName{
            @include font-set(700, 1.4em);
        }
        .subheader{
            @include font-set(100, 1.1em);
        }
        background-color: rgba(255,255,255,0.9);
        &:hover{
            background-color: rgba(255,255,255,1);
            
        }
        
    }
    #laod{
        color: $yellow;
        border: "1px solid $yellow"
    }
}
#gallery{
        .off-canvas-content{
            background-color: white;
            #header{
                #headerText{
                    @include font-set(700,3em);
                }
            }
            #listArea{
                padding-top: 40px;
                height: auto;
                #singerName{
                    @include font-set(100,1.2em);
                }
            }
        }
        .off-canvas{
            background-color: transparent;
            color: white;
            
        }
        #header{
            height: 100px;
            max-height: 100px;
            background: url(https://f1.bcbits.com/img/a3933750658_10.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            h1{
               @media screen and (min-width: 500px) {
                   font-size:3em;
                }
                @media screen and (max-width: 499px) {
                   font-size: 2.5em;
                } 
            }
            #icon2{
                margin-top: 30px;
                max-width: 32px;
                @media screen and (min-width: 650px) {
                   margin-top: 30px;
                }
                @media screen and (max-width: 649px) {
                    margin-top:-45px;
                }
            }
        }
        #sidebar{
            #hoveredName{
                @include font-set(700,1.5em);
            }
            #hoveredDes{
                @include font-set(500,1.2em);
            }
        }

}

#song{
    #head{
        color: white;
        font-family: Lato;
        border: 1px solid yello;
        @media screen and (min-width: 500px) {
            font-size:3em;
        }
        @media screen and (max-width: 499px) {
            font-size: 2.5em;
        } 
    }
    #icon4{
        float: right;
        margin-top: 25px;
    }
    #statistics{
        .background{
                background-color: rgba(255, 255, 255, 0.8);
                border-radius: 2px;
                margin-top: 25px;
                border-radius: 5px;
        }
        .data-title{
            margin-left: 10px;
            color: #706F6D;
        }
    }
    #lyrics{
        overflow: scroll;
        max-height: 120vh;
        color: white;
        background-color: rgba(56, 46, 18, 0.9);
        border-radius: 5px;
        #red{
           color: white;
            font-weight: bold;
        }
    }
    nav 
    {
      background-color: $NavBG;
      height: 100%;
      position: fixed;
      top: 0;
      
      width: $NavWidth;
      z-index: 9001; /* IT'S OVER 9000! */
      
      #menuToggle
      {
        background: $NavBG;
        display: block;
        position: relative;
        height: $NavMarkerHeight;
        left: $NavMarkerWidth * -1;
        top: 75px;
        width: $NavMarkerWidth;
        span
        {
          display: block;
          position: absolute;
          left: 10%;
          top: 20%;
          width: 80%;
          color: yellow;
        }
      }
        #moreInfo{
            padding-left: 10px;
            color: yellow;
        }

    }
    #menuToggle
    {
      .navClosed
      {
        @include transition(background $AnimationTime/2 linear);
        &:before, &:after {
          @include transition(top $AnimationTime linear $AnimationTime/2, transform $AnimationTime linear $AnimationTime/2); }
      }
      .navOpen
      {
        @include transition(background $AnimationTime/2 linear $AnimationTime);
        &:before, &:after {
          @include transition(top $AnimationTime linear, transform $AnimationTime linear); }
      }
    }
    
    
}
.close{
    right: -300px;
    @include transition(right $AnimationTime linear);
    
}
.open 
{
  right: 0px;
  @include transition(right $AnimationTime linear);
}



.paper
{
    position:relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.paper:before, .effect7:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    border-radius:100px / 10px;
} 
.paper:after
{
    right:10px; 
    left:auto; 
    transform:skew(8deg) rotate(3deg);
}
#userInfo{
    @media only screen and (max-width: 64em) {
        float: none;
    }
}

