// Insert your variables
$theme_black: rgb(9, 12, 2);
$theme_red: rgb(167, 38, 8);

$White:	rgb(255,255,255);
$Black:	rgb(0,0,0);

$LightOrange:	rgb(255,165,62);

/* Color Config */
$NavBG: rgba($Black, .8);
$MenuItem: $LightOrange;
$MenuTextColor: $White;
$yellow: rgba(249,259,140,0.9);

/* Menu Config */
$AnimationTime: .2s;
$NavMarkerHeight: 40px;
$NavMarkerWidth: 50px;
$NavWidth: 300px;

//fonts
$maven: 'Maven Pro', sans-serif;

$font-primary: $maven;