<div class='container'>
  <nav class="top-bar">
      <div class="top-bar-left">
          <ul id="icon" class="hide-for-large dropdown menu" data-dropdown-menu>
              <li id="listIcon" style="cursor:pointer" ng-click="modal()"><i  class="fa fa-list fa-2x" aria-hidden="true"></i></li>
          </ul>
        <ul id="example-menu" class="hide-for-medium-only hide-for-small-only dropdown menu" data-dropdown-menu>
          <li style="cursor:pointer" class="menu-text"><a class="ATagDefault" href="#/settings">Main</a></li>
          <li style="cursor:pointer" class="menu-text" ><a class="ATagDefault" href="#/gallery">Gallery</a></li>
          <li ng-click="showRegister()" style="cursor:pointer" class="menu-text ATagDefault">Account</li>
          <li style="cursor:pointer" class="menu-text"><a class='ATagDefault' href='#/about'>About</a></li>
        </ul>
          
      </div>
  </nav>
  <div id='aboutUs'>
    <h1> Death of Pablo </h1>
    <p>This website was inspired by Kanye West</p>
    <p>We all love rap so we wanted to create a system that objectively evaluates rap lyrics</p>
    <p>We study basic analytics such as rhyme distribution, rhyme density and vocabulary level</p>
  </div>
</div>