<div id="song" ng-controller='songController'>	
        <div class="modal1" style="z-index: 9999">
            <span ng-click="closeModal()" class="close">X</span>
            <ul id="menu">
                <li style="cursor:pointer" class="menu-text"><a class="ATagDefault" href="#/settings">Main</a></li>
                <li style="cursor:pointer" class="menu-text" ><a class="ATagDefault" href="#/gallery">Gallery</a></li>
                <li style="cursor:pointer" class="menu-text" ng-click="toAccount()">Account</li>
                <li style="cursor:pointer" class="menu-text">Contact</li>
            </ul>

        </div>
        <div ng-click="escapeModal(); $event.stopPropagation();" class="modal2">
            <div class="panel">
                <img src="http://placehold.it/550x550"/>
            </div>
        </div>
            <nav class="close">
              <a ng-click="showSidebar(); $event.stopPropagation();" id="menuToggle" title="show menu">
                <span class="navClosed">MORE</span>
              </a>
              <div id="moreInfo">
                  <h5>Song Name: <br /> {{song.title}}</h5>
                  <br />
                  <img src="{{song.cover}}" />
                  <div ng-repeat="singer in singers">
                      <div>Artists: {{singer.name}}</div>
                      <div style="overflow: scroll;">Description:<br /> {{singer.description}}</div>
                      <br />
                  </div>
                  
              </div>
            </nav>
    
            <div class="row">
                <div class="small-11 columns text-center">
                    <div class="panel">
                        <h1 id="head">{{song.title}}</h1>
                    </div>
                </div>
                <div id="icon4" class="small-1">
                    <i id="listIcon"  ng-click="modal()" class="fa fa-list fa-2x" aria-hidden="true"></i>
                </div>
            </div>
            <div class="row">
            
                <div class="large-3 columns ">
                <div ng-click="displayModal()" class="panel">
                    Data1:
                    <canvas id="rhymesPerVerseChart" width="300" height="240"></canvas>
                </div>
                <br />
                <div ng-click="displayModal()" class="panel">
                    Data2:
                    <img src="http://placehold.it/300x240&text=[data2]"/>
                </div>
                <br />
                <div ng-click="displayModal()" class="panel">
                    Data3:
                    <img src="http://placehold.it/300x240&text=[data3]"/>
                </div>
            </div>
 
 
                <div class="large-6 columns">
                <br />
                <div class="row">

                    <div id="lyrics" class="large-11 columns">
                        <div>
                            {{song.lyrics}}

                        </div>

                    </div>
                </div>
            </div>
                <aside class="medium-3 small-12 columns">
                More Statistics
                <p><img src="http://placehold.it/300x440&text=[ad]"/></p>
                <p><img src="http://placehold.it/300x440&text=[ad]"/></p>
            </aside>
                
            </div>
        
</div>
