<div id="song" ng-controller='songController'>	
        <div class="modal1" style="z-index: 9999">
            <span ng-click="closeModal()" class="close">X</span>
            <ul id="menu">
                <li style="cursor:pointer" class="menu-text"><a class="ATagDefault" href="#/settings">Main</a></li>
                <li style="cursor:pointer" class="menu-text" ><a class="ATagDefault" href="#/gallery">Gallery</a></li>
                <li style="cursor:pointer" class="menu-text" ng-click="toAccount()">Account</li>
                <li style="cursor:pointer" class="menu-text">Contact</li>
            </ul>

        </div>
        <div ng-click="escapeModal(); $event.stopPropagation();" class="modal2">
            <div class="panel">
                <img src="http://placehold.it/550x550"/>
            </div>
        </div>
            <nav class="close">
              <a ng-click="showSidebar(); $event.stopPropagation();" id="menuToggle" title="show menu">
                <span class="navClosed">MORE</span>
              </a>
              <div id="moreInfo">
                  <h5>Song Name: {{song.name}}</h5>
                  <img src="{{song.cover}}" />
                  <p>Rapper: {{singerName}}</p>
                  <p>Issue Date: {{song.year}}</p>
                  <div style="overflow: scroll;">Description:{{song.details}}</div>
              </div>
            </nav>
    
            <div class="row">
                <div class="small-11 columns text-center">
                    <div class="panel">
                        <h1 id="head">{{song.name}}</h1>
                    </div>
                </div>
                <div id="icon4" class="small-1">
                    <i id="listIcon"  ng-click="modal()" class="fa fa-list fa-2x" aria-hidden="true"></i>
                </div>
            </div>
            <div class="row">
            
                <div class="large-3 columns ">
                <div ng-click="displayModal()" class="panel">
                    Data1:
                    <canvas id="myChart" width="300" height="240"></canvas>
                   <!--<img src="http://placehold.it/300x240&text=[data1]"/>-->
                </div>
                <br />
                <div ng-click="displayModal()" class="panel">
                    Data2:
                    <img src="http://placehold.it/300x240&text=[data2]"/>
                </div>
                <br />
                <div ng-click="displayModal()" class="panel">
                    Data3:
                    <img src="http://placehold.it/300x240&text=[data3]"/>
                </div>
            </div>
 
 
                <div class="large-6 columns">
                <br />
                <div class="row">

                    <div id="lyrics" class="large-11 columns">
                        <div>
            [Kanye]
                    We don’t want no devils in the house...<br />
                    Yes, darling<br />
                    We don’t want no devils in the house...<br />
                    Yes, darling<br />
                    We want the lord, he’s sick<br />
                    My [?] hand over [?]<br />
                    Jesus Christ have mercy<br />
                    Yes darling<br />
                    Hallelujah<br />
                    We don’t want no devils in the house<br />
                    Yes, darling<br />
                    We don’t want no devils in the house<br />
                    Yes, darling<br />
                    We want the lord, he’s sick<br />
                    My [?] hand over [?]<br />
                    Jesus Christ have mercy<br />
                    Yes darling<br />
                    Hallelujah<br />

                    I'm tryna <span id="red">keep my faith</span><br />
                    On an ultra light beam<br />
                    We on an ultra light beam<br />
                    This is a God dream<br />
                    This is a God dream<br />
                    This is everything<br />
                    This is everything<br />
                    Deliver us serenity<br />
                    Deliver us peace<br />
                    Deliver us loving<br />
                    We know we need<br />
                    You know we need it<br />
                    You know we need it<br />
                    And I'mma need you now, oh, I<br />
                    Pray for Paris<br />
                    Pray for the parents<br />
                    This is a God dream<br />
                    This is a God dream<br />
                    This is a God dream<br />
                    We on an ultra light beam<br />
                    We on an ultra light beam<br />
                            This is a <span id="red">God dream</span><br />
                    This is God dream<br />
                    This is everything<br />
                    This is everything<br />
                    Deliver us serenity<br />
                    Deliver us peace<br />
                    Deliver us loving<br />
                    We know we need<br />
                    You know we need it<br />
                    You know we need it<br />
                    And I'mma need you now<br />
                    Pray for Paris<br />
                    Pray for the parents<br />

                    I'm tryna keep my faith<br />
                    But I’m looking for more<br />
                    Somewhere I can feel safe<br />
                    And end my holy war<br />
                    I'm tryna keep my faith<br />

                    [Kelly Price]
                            So why send <span id="red">depression</span> not blessings?<br />
                    Why, oh why'd you do me wrong? (more)<br />
                    You persecute the weak
                    Because it makes you feel so strong<br />
                    (To save) Don’t have much strength to fight<br />
                    So I look to the light<br />
                    (Lord) To make these wrongs turn right<br />
                    Head up high, I look to the light<br />
                    Hey, cause I know that you'll make everything alright<br />
                            And I know that you'll take <span id="red">good care</span> of your child<br />
                    Oh, no longer am afraid of the night<br />
                    Cause I, I look to the light<br />

                    [Chance The Rapper]
                    We on an ultra <span id="red">light beam</span><br />
                    We on an ultra light beam<br />
                    This is a God dream<br />
                    This is a God dream<br />
                    This is everything<br />
                    This is everything<br />
                    Deliver us serenity<br />
                    Deliver us peace<br />
                    Deliver <span id="red">us loving</span> <br />
                    We know we need<br />
                    You know we need it<br />
                    You know we need it<br />
                    And I'mma need you now, oh, I<br />
                    Pray for Paris<br />
                    Pray for the parents<br />
                    This is a God dream<br />
                    This is a God dream<br />
                    This is a God dream<br />
                    We on an ultra light beam<br />
                    We on an ultra light beam<br />
                    This is a God dream<br />
                    This is God dream<br />
                    This is everything<br />
                    This is everything<br />
                    Deliver us serenity<br />
                    Deliver us <span id="red">peace</span><br />
                    Deliver us loving<br />
                    We know we need<br />
                    You know we need it<br />
                    You know we need it<br />
                    And I'mma <span id="red">need you now</span><br />
                    Pray for Paris<br />
                    Pray for the parents<br />

                    (Yes darling...Hallelujah)<br />
                    I'm tryna keep my faith<br />
                    But I’m looking<span id="red"> for more</span><br />
                    Somewhere I can feel safe<br />
                    And end my holy war<br />
                    I'm tryna keep my faith<br />

                    Father this prayer is for everyone that feels they’re not good enough<br />
                    This prayer’s for everybody that <span id="red">feels like</span> they’re too messed up<br />
                    For everyone who feels they said they’ve said sorry too many times<br />
                    You can never go too far when you can’t come back home again<br />
                    That's why I need faith<br />

                    (Lord, save, war)<br />

        </div>

                    </div>
                </div>
            </div>
                <aside class="large-3 columns hide-for-small">
                More Statistics
                <p><img src="http://placehold.it/300x440&text=[ad]"/></p>
                <p><img src="http://placehold.it/300x440&text=[ad]"/></p>
            </aside>
                
            </div>
        
</div>
