<div class="container">
<div id="song" ng-controller='songController'>	
        <div class="modal1" style="z-index: 9999">
            <span ng-click="closeModal()" class="close">X</span>
            <ul id="menu">
                <li style="cursor:pointer" class="menu-text"><a class="ATagDefault" href="#/settings">Main</a></li>
                <li style="cursor:pointer" class="menu-text" ><a class="ATagDefault" href="#/gallery">Gallery</a></li>
                <li style="cursor:pointer" class="menu-text ATagDefault" ng-click="toAccount()">Account</li>
                <li style="cursor:pointer" class="menu-text ATagDefault">Contact</li>
            </ul>

        </div>
        <div ng-click="escapeModal(); $event.stopPropagation();" class="modal2">
            <div class="panel">
                <img src="http://placehold.it/550x550"/>
            </div>
        </div>
            <nav class="close">
              <div id="moreInfo">
              
              </div>
            </nav>
    
            <div class="row">
                <div class="small-11 columns text-center">
                    <div class="panel">
                        <h1 id="head">Analytics for <span class="song-header">
                            {{song.title}}
                        </span></h1>
                    </div>
                </div>
                <div id="icon4" class="small-1">
                    <i id="listIcon"  ng-click="modal()" class="fa fa-list fa-2x" aria-hidden="true"></i>
                </div>
            </div>
            <div class="row">
                <div id="statistics" class="large-3 columns ">
                <div class="background" class="panel">
                <span class="data-title">Rank:</span>
                <div class="big-number">
                    {{song.rank}}
                </div>
                </div>
                <div class="background" class="panel">
                    <span class="data-title">Rhymes per Verse:</span>
                    <canvas id="rhymesPerVerseChart" width="300" height="240"></canvas>
                </div>
                <br />
                <div class="background" class="panel">
                    <span class="data-title">Rhyme Distribution:</span>
                    <canvas id='rhymeDistributionChart' width='300' height='420'></canvas>
                </div>
                <br />
                <div class="background" ng-click="displayModal()" class="panel">
                    <span class="data-title">Vocab Level: {{song.vocabLevel}}</span>
                </div>
            </div>
 
 
                <div class="large-6 columns">
                <br />
                <div class="row">
                    <div id="lyrics" class="large-12 columns">
                        <div>
                            <span ng-repeat="block in lyrics track by $index">
                                {{block}}<br />
                            </span>
                        </div>

                    </div>
                </div>
            </div>
                <aside class="medium-3 small-12 columns">
                <div class="section-header">Artists</div>
                  <div ng-repeat="singer in singers">
                      <div class="artist-body">{{singer.name}}</div>
                      <div class="artist-description"> {{singer.description}}</div>
                      <br />
                      <img ng-src="{{singer.url}}" alt="">
                      <br />
                      <button class="button" ng-if='!isFavorite' ng-click='addFavorite()'>Add favorite</button>
                      <button class='button' ng-if='isFavorite' ng-click='removeFavorite()'>Unfavorite</button>

                  </div>
                  <br />
                  <img src="{{song.cover}}" />
  
            </aside>
                
            </div>
        
</div>
</div>