<div class="list" ng-controller='userController'>    
    <div class="modal1">
        <span ng-click="closeModal()" class="close">X</span>
        <ul id="menu">
            <li style="cursor:pointer" class="menu-text"><a class="ATagDefault" href="#/settings">Main</a></li>
            <li style="cursor:pointer" class="menu-text" ><a class="ATagDefault" href="#/gallery">Gallery</a></li>
            <li style="cursor:pointer" class="menu-text ATagDefault" ng-click="toAccount()">Account</li>
            <li style="cursor:pointer" class="menu-text ATagDefault">Contact</li>
        </ul>
    </div>
    <div class="modal4" ng-click="escapeModal($event);">
        <span ng-click="close()" class="close">X</span>
        <form>
            <textarea name="des" rows="10" cols="30">{{aboutMe}}</textarea>
            <br>
            <button class="button" ng-click="updateUserDescription()">Submit</button>
        </form>
    </div>
    <div class="title-bar" data-responsive-toggle="realEstateMenu" data-hide-for="small">
        <div id="icon2" ng-click="modal()" class="top-bar-right">
            <i id="listIcon"   class="fa fa-list fa-2x" aria-hidden="true"></i>
        </div>
        <div class="title-bar-title" style="font-family: 'Lato';">Death Of Pablo</div>
    </div>

    <br>
    <div class="row">
        <div class="small-offset-1 small-10 large-offset-0 large-12 columns">
            <h3>My Account <small style="color: white;">Personal Account</small></h3>
            <hr/>
        </div>
    </div>
 
 
<div class="row">
 
<div class="small-offset-1 large-offset-0 large-9 columns" role="content">

<h3>My Favorite Singers</h3>
<div ng-if="noSingers">You have no favorite singers now</div>
<div class="row small-up-2 medium-up-3 large-up-4">
    <div class="column" ng-repeat="singer in singers" ng-click="toSingerPage(singer)">
        <img class="thumbnail" src="http://placehold.it/550x550">
        <h5>{{singer.name}}</h5>
    </div>       
</div>
    
<br />
<br />

<h3>My Favorite Songs</h3>
<div ng-if="noSongs">You have no favorite songs now</div>
<div class="row small-up-2 medium-up-3 large-up-4">
    <div class="column" ng-repeat="singer in songs" ng-click="toSongPage(singer)">
        <img class="thumbnail" src="http://placehold.it/550x550">
        <h5>{{song.title}}</h5>
    </div>       
</div>
    





</div>
 
<aside id="userInfo" class="small-offset-1 large-offset-0 large-3 columns" style="">
<h5>My Info</h5>
    <div class="side-nav">
        <img class="thumbnail" src="{{user.thumbnailUrl}}" style="width: 200px;">
        <br />
        <p>User Name: {{user.username}}</p>
        <p>Total Favorite Singers: {{singerLen}} </p>
        <p>Total Favorite Songs: {{songLen}} </p>
        <button class="button" ng-click="logout()">Log Out</button>
        <button class="button">Delete Account</button>
    </div>
<div class="panel">
    <h5>About Me</h5>
    <p>{{user.aboutMe}}</p>
    <a href="" ng-click="modifyDescription()">Edit it &rarr;</a>
    </div>
</aside>
 
</div>
</div>